//reset slick slider css
.slick-prev::before,
.slick-next::before {
	font-family   : "FontAwesome" !important;
	// content    : "\f060" !important;
	color         : red !important;
}

// .slick-next::before {
// 	content: "\e257" !important;
// }

.slick-prev {
	border             : 2px solid #d7d7d7 !important;
	// position: relative !important;
	left               : -10px !important;
	z-index            : 1000 !important;
	height             : 48px !important;
	width              : 44px !important;
	// background-color: green !important;
	background         : #fff;

	&:hover {
		background: #f3ecec !important;

	}

}

.slick-next {
	border             : 2px solid #d7d7d7 !important;
	// position: relative !important;
	right              : -10px !important;
	z-index            : 1000 !important;
	height             : 48px !important;
	width              : 44px !important;
	// background-color: green !important;
	background         : #fff;

	&:hover {
		background: #f3ecec !important;

	}
}

.section-share {

	&.section-specialty {

		background-color: #f5f5f5;
	}

	&.section-outstanding-doctor {
		// background-color: #f5f5f5;
		// width: 120px;
		// height: 120px;
		// border-radius: 50%;

	}

	&.section-about {
		// border: 1px solid red;
		border-top   : 1px solid #f5f5f5;
		border-bottom: 1px solid #f5f5f5;
		height       : 600px !important;
	}

	.section-body {
		// border: 1px solid black;

		.section-customize {
			.bg-image {
				width              : 278px;
				margin             : auto auto;
				height             : 150px;
				background-position: center center;
				background-size    : cover;
				background-color   : #eee;
				background-repeat  : no-repeat;

				&.section-specialty {
					background-image: url('../../assets/images/specialty/120331-co-xuong-khop.jpg');
				}

				&.section-medical-facility {
					background-image: url('../../assets/images/facility/095119-benh-vien-cho-ray-h1.jpg');

				}

				&.section-outstanding-doctor {
					background-image: url('../../assets/images/outsta/103848anh-dai-dien-bs.jpg');
				}

				&.section-handbook {
					background-image: url('../../assets/images/handbook/120825bia.jpg');

				}
			}

		}


	}
}

.section-share {
	height             : 330px;
	// border          : 1px solid red;

	.section-container {
		margin            : 0 100px;
		display           : flex;
		flex-direction    : column;
		// justify-content: space-between;

		.section-header {
			height       : 60px;
			// border: 1px solid green;
			margin-bottom: 20px;
			padding-top  : 20px;

			.title-section {
				font-size  : 20px;
				font-weight: 500;
			}

			.btn-section {
				float         : right;
				padding       : 10px 15px;
				display       : block;
				outline       : none;
				border        : none;
				background    : #ebebeb;
				color         : black;
				cursor        : pointer;
				text-transform: uppercase;

				&:hover {
					color           : #fff;
					background-color: #f7d800;
				}
			}
		}


	}



}

.home-footer {
	text-align : center;
	padding-top: 5px;

	a {
		text-decoration: none;
	}
}

.section-about {
	padding: 0 100px;

	.section-about-header {
		padding    : 20px 10px;
		font-size  : 20px;
		font-weight: 600;
	}

	.section-about-content {
		display: flex;
		gap    : 15px;
		width  : 100%;

		.content-left {
			width: 60%;
		}

		.content-right {
			width: 40%;

			p {
				text-align : justify;
				font-style : italic;
				padding-top: 15px;
			}
		}
	}
}